:root {
  --color-40: #26355d;
  --color-30: #af47d2;
  --color-20: #ff8f00;
  --color-10: #ffdb00;
  --color-10-highlight: #ffdd00de;
}

body {
  margin: 0;
  background-color: var(--color-40);
  font-family: sans-serif;
}

.game {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.player-x,
.player-o {
  height: 300px;
  width: 200px;
  border: solid var(--color-20) 2px;
}

.board {
  height: 500px;
  width: 500px;
  border: solid var(--color-30) 3px;
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}

.board > .grid {
  border: solid var(--color-30) 1px;
}

.grid {
  color: var(--color-10);
  font-size: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.player-x,
.player-o {
  color: var(--color-10);
  font-size: 3rem;
  text-align: center;
}

.dialog-container {
  width: 100vw;
  height: 100vh;
}

dialog {
  border: 0;
  height: 300px;
  width: 300px;
  border-radius: 20px;
  padding: 10px 30px;
  color: white;
  font-size: 2.5rem;
  background-color: var(--color-30);
}

form {
  display: flex;
  flex-direction: column;
}

dialog > form > input {
  margin: 5px 0 30px 0;
  padding: 5px 10px;
  font-size: 1.2rem;
  border-radius: 20px;
  border: solid var(--color-40) 2px;
  color: black;
}

dialog > form > input:focus {
  background-color: var(--color-20);
}

dialog > form > button {
  align-self: center;
  padding: 10px 30px;
  border-radius: 20px;
  border: none;
  background-color: var(--color-10);
  font-size: 1.2rem;
  font-weight: 700;
}

dialog > form > button:hover {
  background-color: var(--color-10-highlight);
}

::backdrop {
  background-color: black;
  opacity: 0.6;
}
